<div
  class="post-item row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative"
>
  <div class="col p-4 d-flex flex-column position-static">
    <h3 class="mb-0">{{ post.title }}</h3>
    <div class="mb-1 text-muted">
      {{ post.createDate | date }}
    </div>
    <p style="flex: 1">
      {{ post.subTitle }}
    </p>
    <div>
      <a [routerLink]="['/post/' + post.postId]" class="stretched-link">
        Continue reading
      </a>
    </div>
  </div>
</div>
