<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/me/posts/draft']"
      routerLinkActive="active"
    >
      Draft
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/me/posts/published']"
      routerLinkActive="active"
    >
      Published
    </a>
  </li>
</ul>

<div class="tab-content">
  <ng-container *ngIf="publishedPosts.length > 0; else elseTemplate">
    <div
      class="card bt-0 b-no-radius"
      *ngFor="let post of publishedPosts; let i = index"
      [ngClass]="{ 'b-end-card': i == publishedPosts.length - 1 }"
    >
      <div class="card-body">
        <h5 class="post-title">
          {{ post.title }}
          <a role="button" [routerLink]="['/post', post.postId]">
            <i-bs
              name="eye-fill"
              class="text-success"
              width="1em"
              height="1rem"
            >
            </i-bs>
          </a>
          <a role="button" [routerLink]="['/post', post.postId, 'edit']">
            <i-bs
              name="pencil-fill"
              class="text-primary"
              width="1em"
              height="1rem"
            >
            </i-bs>
          </a>
          <a role="button" (click)="onDeletePost(post.postId)">
            <i-bs
              name="trash-fill"
              class="text-danger"
              width="1em"
              height="1rem"
            >
            </i-bs>
          </a>
        </h5>
        <p class="card-text mb-auto">{{ post.subTitle }}</p>
        <div class="mt-4 text-muted">
          Created at: {{ post.createDate | date }}
        </div>
        <div class="text-muted">
          <ng-container *ngIf="post.lastUpdateDate !== null; else elseTemplate">
            Last updated: {{ post.lastUpdateDate | date }}
          </ng-container>
          <ng-template #elseTemplate>
            Last updated: Not updated yet
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="card bt-0 b-no-radius">
      <div class="card-body">
        <p class="blog-post-meta">No published post</p>
      </div>
    </div>
  </ng-template>
</div>
