<div style="box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05)">
  <div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 offset-4 text-center">
          <a class="blog-header-logo text-dark" [routerLink]="['/home']">Simple blog</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <div class="mr-2">
            <button
              *ngIf="showPublishButton"
              class="btn btn-lg btn-outline-secondary btn-sm mx-auto btn-block"
              type="submit"
              (click)="onPublishPost(false)"
            >
              Save daft
            </button>
            <button
              class="btn btn-lg btn-outline-secondary btn-sm mx-auto btn-block"
              type="submit"
              *ngIf="showUpdateSaveDraftButton"
              (click)="onUpdatePost(false)"
            >
              Save daft
            </button>
          </div>
          <div>
            <button
              *ngIf="showPublishButton"
              class="btn btn-lg btn-success btn-sm mx-auto btn-block"
              type="submit"
              (click)="onPublishPost(true)"
            >
              Publish
            </button>
            <button
              class="btn btn-lg btn-success btn-sm mx-auto btn-block"
              type="submit"
              *ngIf="showUpdateButton"
              (click)="onUpdatePost(true)"
            >
              Update
            </button>
          </div>
          <a class="text-muted" href="#" aria-label="Search">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="mx-3"
              role="img"
              viewBox="0 0 24 24"
              focusable="false"
            >
              <title>Search</title>
              <circle cx="10.5" cy="10.5" r="7.5"></circle>
              <path d="M21 21l-5.2-5.2"></path>
            </svg>
          </a>
          <ng-container *ngIf="isLoggedIn(); else elseTemplate">
            <!-- <a [routerLink]="['/post/new']" class="btn btn-sm btn-success mx-1">
            New post
          </a>
          <button
            class="btn btn-sm btn-outline-secondary mx-1"
            (click)="onLogout()"
          >
            Logout
          </button> -->
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
              <button
                id="dropdownManual"
                ngbDropdownAnchor
                (focus)="myDrop.open()"
              >
                <i-bs
                  name="person-circle"
                  class="text-dark"
                  width="2rem"
                  height="2rem"
                >
                </i-bs>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <div class="px-4">
                  <h4>{{ username }}</h4>
                </div>
                <button ngbDropdownItem [routerLink]="['/me/profile']">
                  My profile
                </button>
                <hr />
                <button ngbDropdownItem [routerLink]="['/post/new']">
                  Write a post
                </button>
                <button ngbDropdownItem [routerLink]="['/me/posts']">
                  My posts
                </button>
                <hr />
                <button ngbDropdownItem (click)="onLogout()">Logout</button>
              </div>
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <a
              [routerLink]="['/register']"
              class="btn btn-sm btn-outline-success mx-1"
            >
              Register
            </a>
            <a class="btn btn-sm btn-outline-primary" [routerLink]="['/login']">
              Login
            </a>
          </ng-template>
        </div>
      </div>
    </header>
  </div>
</div>
